@import "https://fonts.googleapis.com/css?family=Pacifico";
.chatbg {
  background-color: black;
  height: 580px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  border: 15px solid black;
  flex-direction: column;
}
.chatheader {
  background-color: #eccc1f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 80px;
  display: flex;
}
.chatheadertext {
  font-family: Pacifico;
  font-weight: lighter;
  font-size: 3em;
  color: black;
  margin: auto;
}
.chatbody {
  background-color: gray;
  height: 540px;
}
.chatfooter {
  background-color: #eccc1f;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.messageinput {
  border: 0;
  margin-left: 10px;
  width: 200px;
  padding-top: 10px;
  height: 30px;
  resize: none;
  border-radius: 10px;
  cols: 1;
  rows:3;
  text-align: center;
}
.submitbutton {
  border: 0;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  background-color: gray;
}
